{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <br>
    <h1>Profil de <strong>{{ participant.pseudo }}</strong></h1>
    <br>
    <div class="row">
        <div class="col-4">
            <img width="100%" src="{{ participant.urlPhoto ? asset('uploads/imageProfil/' ~ participant.urlPhoto) :  asset('uploads/default.jpg')}}" alt="Photo de profil">
        </div>
        <div class="col-8">
            <table class="table">
                <tbody>
        {#            <tr>#}
        {#                <th>Id</th>#}
        {#                <td>{{ participant.id }}</td>#}
        {#            </tr>#}
        {#            <tr>#}
        {#                <th>Roles</th>#}
        {#                <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>#}
        {#            </tr>#}
        {#            <tr>#}
        {#                <th>Password</th>#}
        {#                <td>{{ participant.password }}</td>#}
        {#            </tr>#}
                    <tr>
                        <th>Pseudo</th>
                        <td>{{ participant.pseudo }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ participant.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ participant.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>{{ participant.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Mail</th>
                        <td>{{ participant.mail }}</td>
                    </tr>
                    <tr>
                        <th>Administrateur</th>
                        <td>{{ participant.administrateur ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th>Actif</th>
                        <td>{{ participant.actif ? 'Oui' : 'Non' }}</td>
                    </tr>
{#                    <tr>#}
{#                        <th>UrlPhoto</th>#}
{#                        <td>{{ participant.urlPhoto }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <th>Photo de profil</th>#}
{#                        <td>#}
{#                            <img src="{{ asset('uploads/imageProfil/' ~ participant.urlPhoto) }}" alt="Photo de profil">#}
{#                        </td>#}
{#                    </tr>#}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a href="{{ path('/profil/editer') }}" class="btn btn-primary m-auto">Modifier</a>
    </div>

    <br>
    <br>
{#    <a href="{{ path('participant_index') }}">back to list</a>#}

{#    <a href="{{ path('participant_edit', {'id': participant.id}) }}">edit</a>#}

{#    {{ include('participant/_delete_form.html.twig') }}#}
{% endblock %}
