{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="div-form text-center">
        <br>
        <h1>Inscription</h1>
        <hr>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.mail) }}
            {{ form_row(registrationForm.pseudo) }}
        {#
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        #}
            {{  form_widget(registrationForm) }}
            <br>
            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
    <br>
    <br>
{% endblock %}
