{% extends 'base.html.twig' %}

{% block title %}Modification | {{ parent() }}{% endblock %}

{% block body %}
    <div class="div-form">
        <br>
        <h1>Modifier une Sortie</h1>
        <hr>
        {{ include('sortie/_form.html.twig') }}

        <a href="{{ path('sortie_index') }}" class="btn btn-secondary">Retour à la liste</a>

        {{ include('sortie/_delete_form.html.twig') }}
    </div>

    <br>
    <!-- Modal -->
    <div class="modal fade" id="ajouterLieu" tabindex="-1" role="dialog" aria-labelledby="ajouterLieuLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un lieu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(formLieu, {'attr': {'id': 'form_ajouter_lieu'}}) }}
                    {{ form_widget(formLieu) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
                {{ form_end(formLieu) }}
            </div>
        </div>
    </div>
{% endblock %}

