{% extends 'base.html.twig' %}


{% block title %}Sortie index{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(sortieForm) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(sortieForm) }}
    </div>

    <h1>Filtrer les sorties</h1>

    {{ form_end(sortieForm) }}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DateHeureDebut</th>
                <th>Duree</th>
                <th>DateLimiteInscription</th>
                <th>NbInscriptionsMax</th>
                <th>InfosSortie</th>
                <th>MotifAnnulation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
{#        {% for sortie in sortie %}#}
{#            <tr>#}
{#                <td>{{ sortie.id }}</td>#}
{#                <td>{{ sortie.nom }}</td>#}
{#                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ sortie.duree }}</td>#}
{#                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ sortie.nbInscriptionsMax }}</td>#}
{#                <td>{{ sortie.infosSortie }}</td>#}
{#                <td>{{ sortie.motifAnnulation }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">show</a>#}
{#                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="9">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}">Create new</a>

{% endblock %}