{% extends 'base.html.twig' %}

{% block pageTitle %}Liste des Sorties | {{ parent() }}{% endblock %}

{% block title %}<h1>Sortie index</h1>{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="div-form">
        {{ form_start(sortieForm) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(sortieForm) }}
        </div>
        <br>
        <h1>Filtrer les sorties</h1>
        <hr>
        <a href="{{ path('sortie_new') }}" class="btn btn-primary">Nouvelle Sortie</a>
        <br>
        <br>

    {#        {{ form_start(sortieForm) }}#}
        <div class="my-custom-class-for-errors">
            {{ form_errors(sortieForm) }}
        </div>
        {{ form_end(sortieForm) }}
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DateHeureDebut</th>
                <th>Duree</th>
                <th>DateLimiteInscription</th>
                <th>NbInscriptionsMax</th>
                <th>InfosSortie</th>
                <th>Organisateur</th>
                <th>MotifAnnulation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.id }}</td>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('l d/m/Y à G:i') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('l d/m/Y à G:i') : '' }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.infosSortie }}</td>
                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>{{ sortie.motifAnnulation }}</td>
                <td>

                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    {% if app.user and app.user.id == sortie.organisateur.id%}
                        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                        <a href="{{ path('sortie_new', {'id': sortie.id}) }}">Publier</a>
                        {% if 'Créée' == sortie.etat.libelle or 'Ouverte' == sortie.etat.libelle %}
                            <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annuler</a>
                        {% endif %}
                    {% endif %}


                    <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}">S'inscrire</a>
                    <a href="{{ path('sortie_desinscrire', {'id': sortie.id}) }}">Se Désister</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}