{% extends 'base.html.twig' %}

{% block pageTitle %}Nouvelle Sortie | Sortir.com{% endblock %}

{% block title %}<h1>Créer une sortie</h1>{% endblock %}

{% block body %}
        {{ form_start(sortieForm) }}

        <div class="form-group">
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateLimiteInscription) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.infosSortie) }}
        </div>

        <div class="form-group">
            {{ form_row(sortieForm.lieu) }}
        </div>

        {{ form_end(sortieForm) }}
        {# TODO redirect vers index #}
        <button onclick="" class="btn btn-scondary">Retour</button>
{% endblock %}
