{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sortie | Sortir.com{% endblock %}

{% block body %}
        <div class="div-form">
                <br>
                <h1>Créer une sortie</h1>
                <hr>
                <br>
                {{ form_start(sortieForm) }}
                <div class="form-group">
                    {{ form_row(sortieForm.nom) }}
                    {{ form_row(sortieForm.dateHeureDebut) }}
                    {{ form_row(sortieForm.dateLimiteInscription) }}
                    {{ form_row(sortieForm.nbInscriptionsMax) }}
                    {{ form_row(sortieForm.duree) }}
                    {{ form_row(sortieForm.infosSortie) }}
                </div>

                <div class="form-group">
                        {{ form_row(sortieForm.formLieu.ville) }}
                        {{ form_row(sortieForm.lieu) }}

                        {{ form_row(sortieForm.formLieu.ajouter) }}
                        {{ form_row(sortieForm.formLieu.rue) }}
                        {{ form_row(sortieForm.formLieu.latitude) }}
                        {{ form_row(sortieForm.formLieu.longitude) }}
                        <br>
                        <hr>

                        {{ form_widget(sortieForm) }}
                </div>

                {{ form_end(sortieForm) }}
                
                <a href="{{ path('sortie_index') }}" class="btn btn-secondary">Retour</a>
        </div>
        <br>
        <!-- Modal -->
        <div class="modal fade" id="ajouterLieu" tabindex="-1" role="dialog" aria-labelledby="ajouterLieuLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title">Ajouter un lieu</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                        {{ form_start(formLieu, {'attr': {'id': 'form_ajouter_lieu'}}) }}
                                        {{ form_widget(formLieu) }}
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-primary">Sauvegarder</button>
                                </div>
                                {{ form_end(formLieu) }}
                        </div>
                </div>
        </div>
{% endblock %}
