{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sortie | Sortir.com{% endblock %}

{% block body %}
    <h1>Créer une Sortie</h1>
        {{ form_start(sortieForm) }}
        <div class="form-group">
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateLimiteInscription) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.infosSortie) }}
        </div>
        <div class="form-group">
            {{ form_row(sortieForm.lieu) }}
        </div>

        {{ form_end(sortieForm) }}
{% endblock %}
