{% extends 'base.html.twig' %}

{% block pageTitle %}{{ sortie.nom }} | {{ parent() }}{% endblock %}

{% block title %}<h1>Afficher une Sortie</h1>{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de la sortie : </th>
                <td>{{ sortie.nom }}</td>
            </tr>

            <tr>
                <th>Date et heure de la sortie :</th>
                <td>{{ sortie.dateHeureDebut | date("l d/m/Y à G:i") }}</td>
            </tr>

            <tr>
                <th>Date limite d'inscription : </th>
                <td>{{ sortie.dateLimiteInscription | date("l d/m/Y à G:i") }}</td>
            </tr>

            <tr>
                <th>Nombre de places : </th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>Durée : </th>
                <td>{{ sortie.duree }} minutes</td>
            </tr>

            {% if sortie.infosSortie is not null %}
            <tr>
                <th>InfosSortie : </th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>

            {% endif %}
            {% if sortie.etat == 'Annulée' and sortie.infosSortie %}
                <tr>
                    <th>Motif d'annulation : </th>
                    <td>{{ sortie.motifAnnulation }}</td>
                </tr>
            {% endif %}

            <tr>
                <th>Campus : </th>
                <td>{{ sortie.campus.nom }}</td>
            </tr>

            <tr>
                <th>Lieu : </th>
                <td>{{ sortie.lieu.nom }}, {{ sortie.lieu.ville.nom }}</td>
            </tr>

            <tr>
                <th>Rue : </th>
                <td>{{ sortie.lieu.rue }}</td>
            </tr>


            <tr>
                <th>Code postal : </th>
                <td>{{ sortie.lieu.ville.codePostal }}</td>
            </tr>


            <tr>
                <th>Latitude : </th>
                <td>{{ sortie.lieu.latitude }}</td>
            </tr>


            <tr>
                <th>Longitude : </th>
                <td>{{ sortie.lieu.longitude }}</td>
            </tr>

        </tbody>
    </table>

    {% if app.user != sortie.organisateur and 'Ouverte' == sortie.etat %}
        <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}" class="btn btn-primary">S'inscrire</a>
    {%  endif %}

    {% if app.user != sortie.organisateur and 'Ouverte' == sortie.etat %}
        <a href="{{ path('sortie_desinscrire', {'id': sortie.id}) }}" class="btn btn-primary">Se désinscrire</a>
    {%  endif %}

    {# TODO solution temporaire aux roles : ajout condition OR role == admin #}
    {% if app.user == sortie.organisateur %}

        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}" class="btn btn-primary">Modifier</a>

        {% if 'Créée' == sortie.etat %}
            <a href="{{ path('sortie_publier') }}" class="btn btn-primary">Publier</a>
        {% endif %}

        {% if 'Créée' == sortie.etat or 'Ouverte' == sortie.etat %}
             <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}" class="btn btn-warning">Annuler</a>
        {% endif %}

    {% endif %}

    <a href="{{ path('sortie_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
